# Ignore markdown files
*.md

# Ignore git directories and files
.git/
.gitignore
README.md
LICENSE

# Ignore all files in the wandb directory
wandb/

Dockerfile

tmp/mooc/train_transe_model

tmp*
mooc/tmp/*

